

.bg_header {
    background-color: rgba(31, 30, 29, 0.4);
}

.bgCircle1 {
    /* background-image: url("");
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    background-color: rgba(254, 255, 255, 0.3);
}

.bgCircle2 {
    /* background-image: url("");
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    background-color: rgba(254, 255, 255, 0.3);
}
