.bg_site {
    /* background-image: url("https://i.imagesup.co/images2/4c52a67c4dce12dcc315c8bf4d4fda2750c579be.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    font-style:italic;
    background-color: rgb(114, 192, 247);
    box-shadow: 2px 2px 12px 2px rgb(164, 210, 244);
}

.bg_header {
    background-color: rgba(0, 0, 0, 0.35);
}

.bg_login {
    background-color: rgba(85, 169, 184, 0.35);
}

.bg_postPark {
    background-color: rgba(9, 241, 163, 0.35);
}

.btn-no-background {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.bgCircle1 {
    /* background-image: url("https://thumbs.dreamstime.com/z/smartphone-application-online-searching-free-parking-place-map-gps-navigation-parking-concept-smartphone-application-111457034.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: rgba(1, 19, 19, 0.5);
    box-shadow: 2px 2px 12px 2px rgb(12, 11, 11);
    transition:ease-out 1s;
    font-size: 2.5em;
}

.bgCircle1:hover{
    transform:scale(1.1 ,1.1);
    background-color:rgb(41, 136, 136, .4) ;
    font-size: 3em;

}

.bgCircle2 {
    /* background-image: url("");
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    background-color: rgba(1, 19, 19, 0.5);
    box-shadow: 2px 2px 12px 2px rgb(12, 11, 11);
    transition:ease-out 1s;
    font-size: 2.5em;

}

.bgCircle2:hover{
    transform:scale(1.1 ,1.1);
    background-color:rgb(41, 136, 136, .4) ;
    font-size: 3em;

}
